.save-status {
  padding-right: 2%;
}

.field {
  width: 100%;
}

.child-toggle-container {
  width: 100%;
}

.child-age-container {
  width: 100%;
  text-align: right;
}

ul {
  list-style-type: none;
}
